body {
	padding-top: 60px;
}

.brand {
	margin-left: 0;
	height: 50px;
}

.show {
	height: 90px;
	margin-bottom: 10px;
}

.progress {
	margin-bottom: 2px;
	width: 50%;
	display: inline-block;
}

.stats {
	list-style: none;
	margin-left: 0;
	white-space: nowrap;
}

.num {
	color: black;
	display: block;
	font-size: 22px;
	font-weight: bold;
}
.navbar-inner {
	height: 50px;
}

.percent-funded {
	display: inline-block;
	border-right: 1px solid white;
	padding-right: 10px;
}

.tix-sold {
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
}

.time-left {
	display: inline-block;
	padding-left: 10px;
	border-left: 1px solid white;
}

.btn-buy {
	display: inline;
	float: right;	
	white-space: nowrap;
}

#footer {
	margin-top: 400px;
}

img.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#landing-video {
	margin: 0 auto;
	display: block;
	margin-bottom: 60px;
}
.hero-unit .btn {
	margin: 0 auto;
	display: block;
	width: 200px;
}
#logo-gif{
	height: 150px;
	margin-top: -42px;
}
#logo {
	padding: 0;
	padding-left: 20px;
}
.artist {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-rendering: optimizelegibility;
	font-weight: normal;
	color: rgb(90, 90, 90);
}
p.artist{
	font-size: 21px;
	line-height: 30px;
}
h1.artist {
	font-size: 50px;
	line-height: 50px;
}