
<div class="container">
	<div class="row">
		<h1>{{artist.name}}</h1>
		<div class="span6">
			<img src="{{artist.image}}">
			<hr>
			<p id="description">{{artist.description}}</p>
		</div>
		<div class="span6">
			<div ng-repeat="show in artist.shows" class=" show alert alert-info">
				<p>{{show.city}}</p>
				<div class="progress">
					<div class="bar" style="width: {{show.percent}}%;"></div>
				</div>
				<a href="" class="btn btn-large btn-success btn-buy" ng-click="openInfo(show, artist)">Back this show</a>
				<ul class="stats">
					<li class="percent-funded">
						<span class="num">{{show.percent}}%</span>	
						<span>funded</span>
					</li>
					<li class="tix-sold">
						<span class="num">{{show.ticketsSold}} / {{show.ticketsGoal}}</span>	
						<span>tickets sold</span>
					</li>
					<li class="time-left">
						<span class="num">{{show.daysLeft}}</span>	
						<span>days until liftoff</span>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
 
<!-- Modal -->
<div id="infoModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
 	<div class="modal-header">
    	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    	<h3 id="myModalLabel">Order information</h3>
  	</div>
  	<div class="modal-body">
    	<form class="form-horizontal" ng-submit="submitForm()">
			<div class="control-group">
			    <label class="control-label" for="inputEmail">Email address</label>
			    <div class="controls">
			      	<input type="text" id="inputEmail" ng-model="order.email" placeholder="bobloblaw@gmail.com">
			    </div>
		  	</div>
		  	<div class="control-group">
			    <label class="control-label" for="inputName">Your real name</label>
			    <div class="controls">
			      	<input type="text" id="inputName" ng-model="order.name" placeholder="Bob Loblaw">
			    </div>
		  	</div>
		  	<div class="control-group">
			    <label class="control-label" for="inputQuantity">Number of tickets</label>
			    <div class="controls">
			      	<input type="number" ng-model="order.quantity" id="inputQuantity">
			    </div>
		  	</div>
		  	<div class="control-group">
		 		<div class="controls">
		      		<button class="btn btn-success" ng-click="openPayment()">Checkout now</button>
		    	</div>
		 	</div>
		</form>
  	</div>
  	<div class="modal-footer">
    	<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  	</div>
</div>
