<div id="landing">
	<div class="container">
		<div class="row-fluid">
			<div class="span5">
				<img src="image/paperplanehand.jpg">
			</div>
			<div class="span7">
				<h1>Do you have an event, fundraiser or concert to put together?</h1>
				<p class="lead">Liftoff is a group-funding site to eliminate the upfront costs and/or risks for event organizers</p>
				<hr>
				<div class="row-fluid">
					<div class="span1">
						<i class="icon-check icon-2x checkmark"></i><br>
						<i class="icon-check icon-2x checkmark"></i><br>
						<i class="icon-check icon-2x checkmark"></i><br>
					</div>
					<div class="span11">
						<p>
							<strong>No upfront costs.</strong> Set the ticket cost & minimum # of guests
						</p>
						<p>
							<strong>No risks.</strong> Anyone who commits to attend is not charged, unless your Liftoff meets critical mass and breaks even
						</p>
						<p>
							<strong>100% fun.</strong> Once your Liftoff funding has been met, finish planning the event without losing any sleep!
						</p>
					</div>
				</div>
				<a href="#/contact" class="btn btn-success btn-large">Launch your Liftoff »</a>
						
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row-fluid">
		<div class="span4">
			<h2>What is Liftoff?</h2>
				<p><b>Liftoff</b> is changing the way events, concerts or meet ups are funded. Support your favorite artist/event/charity, or see how you can pre-sell the demand for your own endeavors!
				</p>
		</div>
		<div class="span4">
			<h2>Who is Liftoff?</h2>
			<p><b>Liftoff</b> is a group funding platform to help an event organizer reduce their Risk and upfront costs. Whether it's tickets for a concert, a convention, or a comedy show, Liftoff is the simplest and most efficient way to test the demand for your event.
			</p>
		</div>
		<div class="span4">
			<h2>What's Liftoff cost?</h2>
			<p>Our service is completely free for event attendees. They only see a final cost, not crazy Fees added on. We keep the lights on by charging a 5% fee to the event organizer.</p>
		</div>
	</div>
	<div class="hero-unit" id="see-events-hero">
		<h3>Discover our featured campaigns below, or </h3><a href="#/discover" class="btn btn-large btn-primary">See more campaigns »</a>
	</div>

	<div ng-include src="'partials/frags/discover.html'"></div>

</div>	
