<div class="container">
	<h1>Liftoff</h1>

	<iframe id="landing-video" width="560" height="315" 
	src="http://www.youtube.com/embed/9bZkp7q19f0" frameborder="1" allowfullscreen></iframe>
	
	<div class="row-fluid">
		<div class="span4">
			<h2>What is Liftoff?</h2>
				<p><b>Liftoff</b> is changing the way tickets are bought and sold. Support your favorite artist/event,
					or see how you can <b>leverage pre-selling</b> for your own endeavours!
				</p>
		</div>
		<div class="span4">
			<h2>Who is Liftoff for?</h2>
			<p><b>Liftoff</b> is a platform for anyone who needs to sell tickets. Whether it's tickets for a concert,
				a convention, or a comedy show, <b>Liftoff</b> is the simplest and most efficient way to distribute tickets.
			</p>
		</div>
		<div class="span4">
			<h2>Is it free?</h2>
			<p>Our service is completely <b>free</b> for buyers. Creating an event is free. We charge a flat 5% of sales for ticket sales with no other fees.</p>
		</div>
	</div>
	<div class="hero-unit">
		<a href="#/contact" class="btn btn-large btn-primary">Create an Event »</a>
	</div>

</div>	
